.white, .white a {
  color: #fff;
}
.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse{
    background-color:#5bc0de !important;
    background-image: linear-gradient(to bottom,#5bc0de,#5bc0de);
    color:white;
    border: 1px solid #ddd;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    background-color:#5bc0de !important;
    background-image: linear-gradient(to bottom,#5bc0de,#5bc0de);
}
.navbar-inverse .navbar-nav>li>a {
    color:white;
}
#main{
    margin-top: 50px;

}

#total{
    text-align:center;
}

.bs-footer {
    text-align: left;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.reg-lb{
    width:150px;
}
.login-lb{
    width:80px;
}
.group-lb{
    width:120px;
}

.change-password-lb{
    width:160px;
}
.task-list{
    list-style:none;
    margin-left:-50px;
}
.task-list li{
    border-top:1px solid #ddd;
    padding-top:10px;
    padding-left:20px;
    margin-top:10px;
    height: 140px;
}